<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Welcome Admin!!
            <a href="/logout">Logout</a>
        </h1>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="card-pic">
                        <img th:src="@{/images/record-managing.jpg}" alt="record-managing">
                    </div>
                    <div class="card-body">
                        <p>
                            "Manage Department" is a comprehensive feature that enables administrators to oversee and
                        manage the department records of various departments within an organization efficiently.
                            
                        </p>
                        <a th:href="@{/admin/departments}" class="btn" >Manage Departments</a>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img th:src="@{/images/record-managing-2.png}" alt="record-managing">
                    </div>
                    <div class="card-body">
                        <p>
                            "Manage Student" is a comprehensive feature that enables administrators to oversee and
                            manage the students record of various departments within an organization efficiently.
                                <a th:href="@{/admin/students}" class="btn" >Manage Students</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>