<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Delete Student</title>
    <link rel="stylesheet" th:href="@{/css/ViewStudent.css}" />
</head>

<body>
    <div class="nav">
        <button class="back-btn" id="back-btn">&lt; Go Back</button>
        <h1 style="color: white;">Delete Student</h1>

    </div>
    <div class="warn">
        <h1>Are you sure? <br> Do you want to delete this student record</h1>

    </div>
    <div class="container">
        <div class="view-student" th:if="${student}">
            <div class="left-box">
                <img th:src="@{${student.picPath}}" alt="Student Picture">
            </div>
            <div class="right-box">
                <div class="student-details">
                    <div class="form-group">
                        <label for="name">Student Name</label>
                        <input type="text" name="name" id="name" th:value="${student.name}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="regno">Register Number</label>
                        <input type="text" name="regno" id="regno" th:value="${student.regno}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="year">Batch</label>
                        <input type="number" name="year" id="year" th:value="${student.year}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="tel" name="email" id="email" th:value="${student.email}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" name="phone" id="phone" th:value="${student.phone}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="deptCode">Department Code</label>
                        <input type="text" name="deptCode" id="deptCode" th:value="${student.departmentCode}" readonly>
                    </div>
                    <form th:action="@{/admin/deletestudent/{regno}(regno=${student.regno})}" method="post">
                        <div class="form-group">
                            <input type="submit" value="Delete Student" id="deletebutton">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var backBtn = document.getElementById("back-btn");
        backBtn.onclick = function () {
            window.history.back();
        }
    </script>
</body>

</html>