<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Department</title>
    <link rel="stylesheet" href="/css/createdepartment.css">
</head>

<body>
    <h2 class="delete-warn">Are you sure? <br> Once you deleted this department you can only recreate it, you cannot revert it. </h2>
    <div class="container">
        <h2>Delete Department</h2>
        <form action="#" th:action="@{/admin/deletedepartment/{id}(id=${deletedept.departmentCode})}"
            th:object="${department}" method="post">
            <div class="form-group">

                <label for="departmentName">Department Name:</label>
                <input type="text" id="departmentName" name="departmentName" th:value="${deletedept.departmentName}"
                    required readonly>
            </div>
            <div class="form-group">
                <label for="departmentCode">Department Code:</label>
                <input type="text" id="departmentCode" name="departmentCode" th:value="${deletedept.departmentCode}"
                    required readonly>
            </div>
            <div class="form-group">
                <label for="hod">Head of Department:</label>
                <input type="text" id="hod" name="hod" th:value="${deletedept.hod}" required readonly>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${deletedept.email}" required readonly>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" th:value="${deletedept.phone}" required readonly>
            </div>
            <input type="submit" value="Delete Department" class="delete-btn">
        </form>
    </div>

</body>

</html>